<mat-card class="post-card">
    <mat-card-header class="post-card-header">
        <mat-card-title> {{ post.title }} </mat-card-title>
        <mat-card-subtitle>{{post.createdDate | date: 'le dd MMMM yyyy à HH:mm' }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p>
            {{ post.content | short : 100}}
        </p>
        <img *ngIf="post.imageUrl" [src]="post.imageUrl" [alt]="post.title">

    </mat-card-content>
    <app-comments [comments]="post.comments" (newComment)="onNewComment($event)">

    </app-comments>

</mat-card>